<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#
var nodes = new[] { "AddAssign", "SubtractAssign", "MultiplyAssign", "DivideAssign", "ModuloAssign", "AndAssign", "OrAssign", "ExclusiveOrAssign", "LeftShiftAssign", "RightShiftAssign", "AddAssignChecked", "MultiplyAssignChecked", "SubtractAssignChecked" };
#>
// Prototyping extended expression trees for C#.
//
// bartde - November 2015

using Microsoft.CSharp.Expressions;
using System;
using System.Linq.Expressions;
using Xunit;
using static Tests.ReflectionUtils;

namespace Tests
{
    partial class AssignBinaryTests
    {
<#
foreach (var node in nodes)
{
#>
        [Fact]
        public void AssignBinary_Factory_<#=node#>()
        {
            var a = Expression.Parameter(typeof(int));
            var b = Expression.Constant(1);
            var x = Expression.Parameter(typeof(int));
            var dl = Expression.Lambda(x, x);
            var df = Expression.Lambda(x, x);

            foreach (var l in GetLhs())
            {
                var r = Expression.Constant(2);
                var m = MethodInfoOf(() => Op(0, 0));
                var cl = Expression.Lambda(x, x);
                var cf = Expression.Lambda(x, x);

                var a1 = CSharpExpression.<#=node#>(l, r);
                Assert.Same(l, a1.Left);
                Assert.Same(r, a1.Right);
                Assert.Null(a1.Method);
                Assert.Null(a1.LeftConversion);
                Assert.Null(a1.FinalConversion);

                var a2 = CSharpExpression.<#=node#>(l, r, m);
                Assert.Same(l, a2.Left);
                Assert.Same(r, a2.Right);
                Assert.Same(m, a2.Method);
                Assert.Null(a2.LeftConversion);
                Assert.Null(a2.FinalConversion);

                var a3 = CSharpExpression.<#=node#>(l, r, m, cf);
                Assert.Same(l, a3.Left);
                Assert.Same(r, a3.Right);
                Assert.Same(m, a3.Method);
                Assert.Same(cf, a3.FinalConversion);
                Assert.Null(a3.LeftConversion);

                var a4 = CSharpExpression.<#=node#>(l, r, m, cf, cl);
                Assert.Same(l, a4.Left);
                Assert.Same(r, a4.Right);
                Assert.Same(m, a4.Method);
                Assert.Same(cf, a4.FinalConversion);
                Assert.Same(cl, a4.LeftConversion);

                var a5 = a4.Update(l, cl, r, cf);
                Assert.Same(a5, a4);

                var a6 = a4.Update(a, cl, r, cf);
                Assert.Same(a, a6.Left);
                Assert.Same(r, a6.Right);
                Assert.Same(m, a6.Method);
                Assert.Same(cf, a6.FinalConversion);
                Assert.Same(cl, a6.LeftConversion);

                var a7 = a4.Update(l, dl, r, cf);
                Assert.Same(l, a7.Left);
                Assert.Same(r, a7.Right);
                Assert.Same(m, a7.Method);
                Assert.Same(dl, a7.LeftConversion);
                Assert.Same(cf, a7.FinalConversion);

                var a8 = a4.Update(l, cl, b, cf);
                Assert.Same(l, a8.Left);
                Assert.Same(b, a8.Right);
                Assert.Same(m, a8.Method);
                Assert.Same(cl, a8.LeftConversion);
                Assert.Same(cf, a8.FinalConversion);

                var a9 = a4.Update(l, cl, r, df);
                Assert.Same(l, a9.Left);
                Assert.Same(r, a9.Right);
                Assert.Same(m, a9.Method);
                Assert.Same(cl, a9.LeftConversion);
                Assert.Same(df, a9.FinalConversion);
            }
        }

<#
}
#>
    }
}
