// Prototyping extended expression trees for C#.
//
// bartde - October 2015

<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Linq.Expressions" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#
var bts = new[]
{
    ExpressionType.Add,
    ExpressionType.AddChecked,
    ExpressionType.And,
    ExpressionType.AndAlso,
    ExpressionType.Divide,
    ExpressionType.Equal,
    ExpressionType.ExclusiveOr,
    ExpressionType.GreaterThan,
    ExpressionType.GreaterThanOrEqual,
    ExpressionType.LeftShift,
    ExpressionType.LessThan,
    ExpressionType.LessThanOrEqual,
    ExpressionType.Modulo,
    ExpressionType.Multiply,
    ExpressionType.MultiplyChecked,
    ExpressionType.NotEqual,
    ExpressionType.Or,
    ExpressionType.OrElse,
    ExpressionType.RightShift,
    ExpressionType.Subtract,
    ExpressionType.SubtractChecked,

    // NB, The following are not supported by design
    // ExpressionType.Power,
    // ExpressionType.Coalesce,
};

var uts = new[]
{
    ExpressionType.Negate,
    ExpressionType.UnaryPlus,
    ExpressionType.NegateChecked,
    ExpressionType.Not,
    ExpressionType.Decrement,
    ExpressionType.Increment,
    ExpressionType.OnesComplement,
    ExpressionType.IsTrue,
    ExpressionType.IsFalse,

    // NB, The following are not supported by design
    // ExpressionType.Convert,
    // ExpressionType.ConvertChecked,
    // ExpressionType.Unbox,
    // ExpressionType.Quote,
    // ExpressionType.Throw,
};
#>
using Microsoft.CSharp.Expressions;
using Microsoft.CSharp.RuntimeBinder;
using System.Linq.Expressions;
using Xunit;

namespace Tests
{
    partial class DynamicTests
    {
        [Fact]
        public void Dynamic_Binary_GeneratedFactories()
        {
            var le = Expression.Constant(1);
            var re = Expression.Constant(2);

            var ld = DynamicCSharpExpression.DynamicArgument(le);
            var rd = DynamicCSharpExpression.DynamicArgument(re);

<#
var i = 0;
foreach (var et in bts)
{
    var flags = "CSharpBinderFlags.None";

    switch (et)
    {
        case ExpressionType.AddChecked:
        case ExpressionType.SubtractChecked:
        case ExpressionType.MultiplyChecked:
            flags = "CSharpBinderFlags.CheckedContext";
            break;
        case ExpressionType.AndAlso:
        case ExpressionType.OrElse:
            flags = "CSharpBinderFlags.BinaryOperationLogical";
            break;
    }
#>
            var be<#=i#> = DynamicCSharpExpression.Dynamic<#=et#>(le, re);
            Assert.Equal(ExpressionType.<#=et#>, be<#=i#>.OperationNodeType);
            Assert.Same(le, be<#=i#>.Left.Expression);
            Assert.Same(re, be<#=i#>.Right.Expression);
            Assert.Equal(<#=flags#>, be<#=i#>.Flags);

            var bd<#=i#> = DynamicCSharpExpression.Dynamic<#=et#>(ld, rd);
            Assert.Equal(ExpressionType.<#=et#>, bd<#=i#>.OperationNodeType);
            Assert.Same(ld, bd<#=i#>.Left);
            Assert.Same(rd, bd<#=i#>.Right);
            Assert.Equal(<#=flags#>, bd<#=i#>.Flags);

            var bf<#=i#> = DynamicCSharpExpression.Dynamic<#=et#>(ld, rd, <#=flags#>);
            Assert.Equal(ExpressionType.<#=et#>, bf<#=i#>.OperationNodeType);
            Assert.Same(ld, bf<#=i#>.Left);
            Assert.Same(rd, bf<#=i#>.Right);
            Assert.Equal(<#=flags#>, bf<#=i#>.Flags);

            var bc<#=i#> = DynamicCSharpExpression.Dynamic<#=et#>(ld, rd, <#=flags#>, typeof(int));
            Assert.Equal(ExpressionType.<#=et#>, bc<#=i#>.OperationNodeType);
            Assert.Same(ld, bc<#=i#>.Left);
            Assert.Same(rd, bc<#=i#>.Right);
            Assert.Equal(<#=flags#>, bc<#=i#>.Flags);
            Assert.Equal(typeof(int), bc<#=i#>.Context);

<#
    i++;
}
#>
        }

        [Fact]
        public void Dynamic_Unary_GeneratedFactories()
        {
            var oe = Expression.Constant(1);

            var od = DynamicCSharpExpression.DynamicArgument(oe);

<#
var j = 0;
foreach (var et in uts)
{
    var flags = "CSharpBinderFlags.None";

    switch (et)
    {
        case ExpressionType.NegateChecked:
            flags = "CSharpBinderFlags.CheckedContext";
            break;
    }
#>
            var ue<#=j#> = DynamicCSharpExpression.Dynamic<#=et#>(oe);
            Assert.Equal(ExpressionType.<#=et#>, ue<#=j#>.OperationNodeType);
            Assert.Same(oe, ue<#=j#>.Operand.Expression);
            Assert.Equal(<#=flags#>, ue<#=j#>.Flags);

            var ud<#=j#> = DynamicCSharpExpression.Dynamic<#=et#>(od);
            Assert.Equal(ExpressionType.<#=et#>, ud<#=j#>.OperationNodeType);
            Assert.Same(od, ud<#=j#>.Operand);
            Assert.Equal(<#=flags#>, ud<#=j#>.Flags);

            var uf<#=j#> = DynamicCSharpExpression.Dynamic<#=et#>(od, <#=flags#>);
            Assert.Equal(ExpressionType.<#=et#>, uf<#=j#>.OperationNodeType);
            Assert.Same(od, uf<#=j#>.Operand);
            Assert.Equal(<#=flags#>, uf<#=j#>.Flags);

            var uc<#=j#> = DynamicCSharpExpression.Dynamic<#=et#>(od, <#=flags#>, typeof(int));
            Assert.Equal(ExpressionType.<#=et#>, uc<#=j#>.OperationNodeType);
            Assert.Same(od, uc<#=j#>.Operand);
            Assert.Equal(<#=flags#>, uc<#=j#>.Flags);
            Assert.Equal(typeof(int), uc<#=j#>.Context);

<#
    j++;
}
#>
        }
    }
}
