// Prototyping extended expression trees for C#.
//
// bartde - December 2021

<#
// NB: When ading a test, it will be *SKIPPED* by default. In order to enable it, review the generated
//     test code and go to the .Verify.cs file to add an entry acknowledging the manual inspection by
//     providing an outcome.

// NB: Editing and saving this file can take a *VERY LONG* time because it invokes the C# compiler at
//     text template processing time. Be patient while Visual Studio appears to hang.
#>
<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#
var name = "CSharp100_PatternMatching";

var exprs = new[]
{
    // Extended property pattern
    "(Expression<Func<MethodCallExpression, bool>>)(o => o is { Method.Name: \"Foo\" })",
};
#>
<#@ include file="CompilerTests.t4" #>