// Prototyping extended expression trees for C#.
//
// bartde - December 2021

<#
// NB: When ading a test, it will be *SKIPPED* by default. In order to enable it, review the generated
//     test code and go to the .Verify.cs file to add an entry acknowledging the manual inspection by
//     providing an outcome.

// NB: Editing and saving this file can take a *VERY LONG* time because it invokes the C# compiler at
//     text template processing time. Be patient while Visual Studio appears to hang.
#>
<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#
var name = "CSharp70_PatternSwitchStatement";

var exprs = new[]
{
    // Switch
    "(Expression<Action<object>>)(o => { switch (o) { case 0: Console.Write('0'); break; case int x when x > 0: Console.Write(x); break; case var t: Console.WriteLine(t); break; } })",
};
#>
<#@ include file="CompilerTests.t4" #>