// Prototyping extended expression trees for C#.
//
// bartde - November 2015

<#
// NB: When ading a test, it will be *SKIPPED* by default. In order to enable it, review the generated
//     test code and go to the .Verify.cs file to add an entry acknowledging the manual inspection by
//     providing an outcome.

// NB: Editing and saving this file can take a *VERY LONG* time because it invokes the C# compiler at
//     text template processing time. Be patient while Visual Studio appears to hang.
#>
<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#
var name = "CSharp30_Statements_For";

var exprs = new[]
{
    // For
    "(Expression<Action>)(() => { for (;;) Console.Write('.'); })",
    "(Expression<Action>)(() => { for (var i = 0; i < 10; i++) Console.Write(i); })",
    "(Expression<Action>)(() => { for (var i = 0; i < 10; i++) { Console.Write(i); } })",
    "(Expression<Action>)(() => { for (var i = 0; i < 10; i++) { if (i == 5) continue; if (i == 8) break; } })",
    "(Expression<Action>)(() => { for (int i = 1, j = 2; i < 3; i += 4, j -= 5) Console.Write('.'); })",
    // TODO: for with initializer statement
};
#>
<#@ include file="CompilerTests.t4" #>